@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* Shared Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
h1 {
  color: white;
  font-size: 86px;
  font-weight: 900;
  text-align: center;
}

/* Navbar Styles */
nav {
  background-color: rgb(0, 0, 0);
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.menus ul {
  color: white;
  display: flex;
  gap: 20px;
}
.menus ul li {
  cursor: pointer;
}
/* End of navbar */
.banner {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("asset/image/background.jpg"),
    linear-gradient(40deg, rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0.456));
  background-blend-mode: color;
}
.banner-row {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-col {
    text-align: center;
    width: 882px;
    
  }
.banner-col p {
    color: white;
    margin-bottom: 15px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    line-height: 25px;
}
.banner-col h1{
  margin-bottom: 15px;
}
.banner-span {
  color: #f94c30;
}
.btn1 {
    margin-right: 10px;
    padding: 15px 35px;
    font-size: 16px;
    border: none;
    color: rgb(0, 0, 0);
    border: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;  
}

.btn{
    background-color: #f94c30;
    color: white;
}