@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

/*------------------- Shared Styles -------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
h1 {
  color: white;
  font-size: 86px;
  font-weight: 900;
  text-align: center;
}
.btn1 {
  margin-right: 10px;
  padding: 15px 35px;
  font-size: 16px;
  border: none;
  color: rgb(0, 0, 0);
  border: 0;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Poppins", sans-serif;
}
/*------------------- Navbar Styles -------------------*/
nav {
  background-color: rgb(0, 0, 0);
}
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.menus ul {
  color: white;
  display: flex;
  gap: 20px;
}
.menus ul li {
  cursor: pointer;
}
/*--------------------- End of navbar ---------------------*/
.banner {
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("asset/image/background.jpg"),
    linear-gradient(40deg, rgba(0, 0, 0, 0.515), rgba(0, 0, 0, 0.456));
  background-blend-mode: overlay;
}
.banner-row {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-col {
  text-align: center;
  width: 882px;
}
.banner-col p {
  color: white;
  margin-bottom: 15px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.banner-col h1 {
  margin-bottom: 15px;
}
.banner-span {
  color: #f94c30;
}

.btn {
  background-color: #f94c30;
  color: white;
}
/* ---------------------End of banner --------------------- */
.services-col {
  color: white;
}
.services-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("asset/image/footer-bg.png"),
    linear-gradient(rgba(0, 0, 0, 0.944), rgba(0, 0, 0, 0.934));
  background-blend-mode: overlay;
}
.service-row {
  display: flex;
  padding-bottom: 15px;
}

.service-col {
  box-shadow: 0px 0px 8px rgb(26, 24, 24);
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  width: 200px;
  height: 200px;
  margin-right: 15px;
}
/*--------------------- End of services section ---------------------*/
.appointment-row {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f94c30;
  gap: 10px;
  width: 75%;
  padding: 15px;
  margin: auto;
  border-radius: 15px;
  margin-top: -80px;
  color: white;
}
.number {
  display: flex;
  justify-content: center;
  align-items: center;
}
.appointment-col img {
  width: 100px;
  padding: 15px;
}
.appointment-col-inside {
  display: flex;
  gap: 20px;
}
.appointment-col-inside p {
  font-size: 20px;
}
.btn5 {
  background-color: white;
  border-radius: 30px;
}
.appointment-col {
  display: flex;
}

.number {
  display: block;
}

.number h6 {
  font-size: 13px;
  padding-top: 10px;
}
.number p {
  font-size: 50px;
  font-weight: bolder;
}

.ap-col {
  padding-right: 10px;
  border-right: 2px solid gray;
}
/*--------------------- End of Appointment section ---------------------*/

.service-col img {
  width: 100px;
}
.btn3 {
  background-color: white;
  color: rgb(83, 83, 83);
  text-transform: capitalize;
  border-radius: 30px;
  margin-bottom: 15px;
}
.services-col {
  width: 500px;
}
.services-col ol {
  margin-bottom: 15px;
}
.services-col h2 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: bold;
  padding: 7px;
  color: rgb(190, 207, 208);
}
.services-col p {
  font-size: 20px;
  color: rgb(190, 207, 208);
  margin-bottom: 15px;
  letter-spacing: 1px;
  line-height: 25px;
}
.list {
  margin-left: 15px;
}
.list ol {
  list-style: decimal;
  font-size: 18px;
  color: rgb(190, 207, 208);
}
.list ol li {
  line-height: 30px;
}
.profile-row {
  display: flex;
  gap: 30px;
}
.profile-col img {
  border-radius: 50%;
  width: 25%;
}
.profile-inside-col em {
  font-style: normal;
  font-size: 15px;
}
.profile-inside-col strong {
  font-size: 17px;
}

.profile-col {
  display: flex;
  align-items: center;
  gap: 10px;
  border-right: solid 1px #f94c30;
}
.btn4 {
  border-radius: 20px;
  color: #f94c30;
  font-size: 11px;
}
.btn4-col {
  border: none;
}
/*--------------------- END of Appointment --------------------- */

/* ----------- Blogs styles ---------- */
.boxes {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}
.box:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  transform: scale(1.1);
}
.box{
  transition: all .3s;
    width: 500px;
    background: white;
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.box img {
  width: 500px;
  border-radius: 10px;
  padding-bottom: 10px;
}
.box h3 {
  font-size: 24px;
  font-weight: bold;
}
.box p {
  font-size: 18px;
  margin-top: 15px;
}
.news-head{
  text-align: center;
  margin-top: 80px;
  margin-bottom: 70px;
}
.news-head h2{
  font-size: 60px;
}
.news-head p {
  font-size: 22px;
  padding-top: 17px;
  padding-bottom: 20px;
}
.blog-content{
  padding: 50px;
  padding-top: 20px;
}

/* --------- End of Blogs Styles----------- */

/* --------- Footer Styles ----------- */

footer{
  margin-top: 150px;
  padding-top: 100px ;
  padding-bottom:100px ;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(asset/image/footer-bg.png), linear-gradient(rgba(0, 0, 0, 0.944), rgba(0, 0, 0, 0.934));
  background-blend-mode: overlay;
}
.foot-row{
  display: flex;
  grid-column-end: 50px;
  justify-content: space-evenly;
  align-items: center;
}
.foot-col{
  width: 500px;
  height: 300px;
  color: white;
}
.foot-col img{
  width: 300px;
}
.foot-col p {
  margin: 25px 0;
  font-size: 23px;
  line-height: 40px;
}
.foot-col i{
  font-size: 45px;
  margin-right: 20px;
  cursor: pointer;
}
.foot-col h4{
  font-size: 35px;
  font-weight: bolder;
}
.foot-col ul{
  padding-top: 25px;
}
.ul1{
  padding-top: 25px;
}
.ul1 ul {
  padding: 0;
}
.ul1 ul li i{
   font-size: 27px;
}
.foot-col ul li {
  font-size: 25px;
  cursor: pointer;
  line-height: 50px;
}
.copyright{
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.copyright-row {
  width: 65%;
}
.copyright-row p{
  font-size: 20px;
  padding-top: 40px;
}